@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.background {
  background: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;

  width: 100%;
  height: 100vh;

  font-family: "Ubuntu", sans-serif;
}

.main-background {
  background: rgba(0, 0, 0, 0.4);

  padding-top: 18px;
  padding-bottom: 17px;
}

.main-title {
  display: flex;
  align-items: center;
  margin: 0 auto;

  width: 1366px;
}

.title-journey {
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;

  margin-left: 79px;

  text-decoration: none;
  color: #ffffff;

  transition: all 0.4s ease;
}

.title-journey:hover {
  color: #236c47;
}

.btn-calendar {
  background: none;
  border: none;

  margin-left: 704px;

  outline: 0;
}

.bnt-email {
  background: none;
  border: none;

  margin-left: 27px;

  outline: 0;
}

.green-nav {
  transition: all 0.4s ease;
}

.green-nav:hover {
  fill: #236c47;
}

.btn-compass {
  position: relative;
  background: none;
  border: none;

  margin-left: 27px;

  outline: 0;
}

.btn-compass::after {
  position: absolute;

  content: "";

  left: 34px;
  top: 4px;
  width: 1px;
  height: 19px;

  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;

  margin-left: 25px;
}

.title-welcome {
  font-size: 16px;
  line-height: 16px;

  margin-left: 53px;

  color: #ffffff;
}

.title-log-in {
  font-size: 16px;
  line-height: 16px;

  margin-left: 3px;

  text-decoration: none;
  color: #ffffff;

  transition: all 0.4s ease;
}

.title-log-in:hover {
  color: #236c47;
}

.title-or {
  font-size: 16px;
  line-height: 16px;

  margin-left: 3px;

  color: #ffffff;
}

.title-sign-up {
  font-size: 16px;
  line-height: 16px;

  margin-left: 4px;

  text-decoration: none;
  color: #ffffff;

  transition: all 0.4s ease;
}

.title-sign-up:hover {
  color: #236c47;
}

.form {
  position: absolute;

  width: 444px;
  left: 0;
  right: 0;
  top: 50%;

  margin: 0 auto;
  transform: translateY(-50%);

  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.main-txt {
  display: flex;
  align-items: center;

  margin-top: 33px;
  margin-bottom: 13px;
}

.main-sing-up {
  position: relative;

  font-size: 20px;
  line-height: 20px;

  margin-left: 61px;

  color: #434343;
}

.main-sing-up::before {
  position: absolute;

  content: "";

  width: 18px;
  height: 18px;
  right: 112px;
  top: 1px;

  background: #3cb878;
}

.main-log-in {
  font-size: 14px;
  line-height: 14px;

  margin-left: 216px;

  text-decoration: none;
  color: #3cb878;
  transition: all 0.4s ease;
}

.main-log-in:hover {
  text-decoration: underline;
  color: #01813f;
}

.main-btn-top {
  display: flex;
  justify-content: center;
}

.btn-blue {
  position: relative;
  display: flex;
  align-items: center;

  width: 160px;

  padding: 12px 17px;

  background: #305db8;
  border-radius: 4px;
  border: 0;

  outline: 0;

  transition: all 0.4s ease;
}

.btn-blue:hover {
  background: #022263;
}

.btn-blue::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 28px;
  background-color: #0a162f;
  opacity: 0.1;
  left: 48px;
}

.main-txt-facebook {
  font-size: 16px;
  line-height: 16px;

  padding-left: 37px;

  text-decoration: none;
  color: #ffffff;
}

.main-btn-red {
  margin-left: 4px;
}

.btn-red {
  position: relative;
  display: flex;
  align-items: center;

  padding: 12px;

  background: #df4a32;
  border-radius: 4px;
  border: 0;

  height: 100%;
  width: 160px;

  outline: 0;

  transition: all 0.4s ease;
}

.btn-red:hover {
  background: #ab1f09;
}

.btn-red::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 28px;
  background-color: #0a162f;
  opacity: 0.1;
  left: 49px;
}

.main-txt-google {
  font-size: 16px;
  line-height: 16px;

  padding-left: 37px;

  text-decoration: none;
  color: #ffffff;
}

.main-wrapper-or {
  position: relative;

  margin-top: 31px;
  margin-bottom: 11px;
  width: 100%;
}

.main-wrapper-or::before {
  content: "";

  position: absolute;
  display: block;

  width: 149px;

  top: calc(50% + 1px);
  right: 61px;

  border-bottom: 1px solid #f2f2f2;
}

.main-wrapper-or::after {
  content: "";

  position: absolute;
  display: block;

  width: 149px;

  top: calc(50% + 1px);
  left: 60px;

  border-bottom: 1px solid #f2f2f2;
}

.main-txt-or {
  font-size: 14px;
  line-height: 14px;

  margin-left: 215px;

  color: #848484;
}

.list {
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid #f2f2f2;
  border-radius: 4px;

  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 15px;

  width: 324px;

  padding: 15px 20px;
  box-sizing: border-box;

  outline: 0;
}

.input-txt::placeholder {
  font-size: 14px;
  line-height: 14px;

  color: #bebebe;
}

.input-txt:focus {
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

div input:last-child {
  margin-bottom: 0;
}

.wrapper-checkbox {
  display: flex;
  align-items: center;

  margin-top: 12px;
  margin-left: 62px;
  margin-bottom: 20px;
}

.maint-txt-agree {
  font-size: 14px;
  line-height: 14px;

  margin-left: 8px;

  color: #434343;
}

.main-txt-terms {
  text-decoration: none;
  color: #3cbb78;

  transition: all 0.4s ease;
}

.main-txt-terms:hover {
  text-decoration: underline;
  color: #01813f;
}

.checkbox {
  display: none;
}

.checkbox-green {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;

  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
}

.checkbox-green-svg {
  opacity: 0;
  transition: all 0.5s ease;
}

.checkbox:checked + .checkbox-green .checkbox-green-svg {
  opacity: 1;
}

.btn-green {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 324px;
  height: 100%;

  margin-left: 60px;
  margin-bottom: 38px;
  padding: 16px;

  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: 0;

  outline: 0;

  transition: all 0.4s ease;
}

.btn-green:hover {
  background-color: #01813f;
}

.btn-green-link {
  font-size: 16px;
  line-height: 16px;

  text-decoration: none;
  color: #ffffff;
}
