.background {
  background: url(../img/backgrounds.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
}

.wrapper-header {
  margin: 0 auto;
  width: 1023px;
  padding-top: 46px;
  margin-bottom: 17px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
}

.link {
  position: relative;
  text-decoration: none;
  margin-bottom: 37px;
}

.link:hover .text-img {
  color: #f26522;
}

.milan-holidays {
  padding-left: 8px;
}

.milan {
  text-decoration: none;
  font-weight: bold;
  font-size: 29px;
  line-height: 31px;
  color: #ffffff;
}

.holidays {
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
}

.contacts {
  margin-left: 608px;
  margin-bottom: 19px;
}

.email {
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.telephone {
  display: block;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-top: 19px;
  padding-left: 70px;
}

.orange-logo {
  width: 53px;
  height: 47px;
  background: url(../img/milan.png);
  flex-shrink: 0;
}

.main-logo {
  display: flex;
}

.main-logo:hover .orange-logo {
  background: url(../img/milan-orange.png);
}

.main-logo:hover .milan-holidays span {
  color: #f26522;
}

.header-nav:hover {
  color: #f26522;
}

.wrapper-main {
  width: 1023px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-img {
  display: block;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
}

.main-shopping {
  position: relative;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: absolute;
  width: 305px;
  height: 55px;
  background: #f26522;
  right: 0;
  top: 165px;
  opacity: 0;
  transition: all 0.6s ease;
}

.link:hover .dropdown {
  opacity: 1;
}

.dropdown-shopping-form {
  text-decoration: none;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.dropdown-shopping-evro {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  padding-left: 16px;
}

.dropdown-shopping-details {
  position: relative;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  padding-top: 29px;
  padding-right: 37px;
}

.dropdown-shopping-details::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  bottom: 4px;
  right: 16px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg);
}

.dropdown-shopping-details .wrapper-footer {
  width: 1023px;
  margin: 0 auto;
}

.copyright {
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  margin-top: 49px;
  padding-bottom: 15px;
  padding-left: 25px;
}
